{% load has_group %}
{% load notifications_tags %}


<li class="treeview">
    <a href="#">
        <i class="fa fa-user"></i>
        <span>Student</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="#"> <i class="fa fa-circle-o">Create</i></a></li>
        {#            {% if perms.students.add_student %}#}
        {#                <li><a href="{% url 'students:student_home' %}"><i class="fa fa-circle-o"></i> Create</a></li>#}
        {#            {% endif %}#}
        {#            {% if perms.students.view_student %}#}
        {#                <li><a href="{% url 'students:list_student' %}"><i class="fa fa-circle-o"></i>View</a></li>#}
        {#            {% endif %}#}
    </ul>
</li>

