{% load has_group %}
{% load notifications_tags %}


<li class="treeview">
    <a href="#">
        <i class="fa fa-user"></i>
        <span>Product</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="#"> <i class="fa fa-circle-o">&nbsp; List</i></a></li>
    </ul>
</li>


<li class="treeview">
    <a href="#">
        <i class="fa fa-user"></i>
        <span>Settings</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{% url 'categories:list' %}"><i class="fa fa-circle-o">&nbsp; Category</i></a></li>
        <li><a href="{% url 'tire_design:list' %}"> <i class="fa fa-circle-o">&nbsp; Tire Design</i></a></li>
        <li><a href="{% url 'trade_mark:list' %}"> <i class="fa fa-circle-o">&nbsp; Trade Mark</i></a></li>
        <li><a href="{% url 'trade_pattern:list' %}"> <i class="fa fa-circle-o">&nbsp; Trade Pattern</i></a></li>
        <li><a href="{% url 'type:list' %}"> <i class="fa fa-circle-o">&nbsp; Type</i></a></li>
    </ul>
</li>

