{% load has_group %}
{% load notifications_tags %}


<li class="treeview">
    <a href="{% url 'products:product_home' %}">
        <i class="fa fa-tags"></i>
        <span>Product</span>
        {#        <span class="pull-right-container">#}
        {#              <i class="fa fa-angle-left pull-right"></i>#}
        {#            </span>#}
    </a>
    {#    <ul class="treeview-menu">#}
    {#        <li><a href="{% url 'products:tube_list' %}"> <i class="fa fa-circle-o">&nbsp; Tube List</i></a></li>#}
    {#        <li><a href="{% url 'products:tyre_list' %}"> <i class="fa fa-circle-o">&nbsp; tyre List</i></a></li>#}
    {#    </ul>#}
</li>

{% if not request.user|has_group:'admin' and not request.user.is_superuser %}
    <li class="treeview">
        <a href="{% url 'orders:history' %}">
            <i class="fa fa-tags"></i>
            <span>Order History</span>
        </a>
    </li>
{% endif %}

{% if request.user|has_group:'admin' or request.user.is_superuser %}

    <li class="treeview">
        <a href="{% url 'orders:new_order_list' %}">
            <i class="fa fa-tags"></i>
            <span>Order History</span>
        </a>
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-database"></i>
            <span>Stock</span>
            <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'stocks:create_home' %}"> <i class="fa fa-circle-o">&nbsp; Update</i></a></li>
            <li><a href="{% url 'stocks:history_home' %}"> <i class="fa fa-circle-o">&nbsp; History</i></a></li>
        </ul>
    </li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Settings</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'categories:list' %}"><i class="fa fa-circle-o">&nbsp; Category</i></a></li>
            <li><a href="{% url 'customers:list_customer' %}"><i class="fa fa-circle-o">&nbsp; Customer</i></a></li>
            {#        <li><a href="{% url 'archive:home' %}"> <i class="fa fa-circle-o">&nbsp; Archive</i></a></li>#}
            <li><a href="{% url 'sliderimages:list' %}"> <i class="fa fa-circle-o">&nbsp; SliderImage</i></a></li>
        </ul>
    </li>


    <li class="treeview">
        <a href="{% url 'archive:home' %}">
            <i class="fa fa-archive"></i>
            <span>Archived Records</span>
        </a>
    </li>
{% endif %}