{% extends 'base.html' %}
{% load staticfiles %}
{% load has_group %}

{% block page_name %}
    Product
{% endblock %}

{% block page_description %}
    Tyre
{% endblock %}

{% block breadcrumbLink %}
    <li>
        <a href="#" class="breadcrumb-item">List</a>

    </li>
{% endblock %}

{% block body_content %}

    <div class="pull-right">
        {#        <a href="{% url 'courses:create' %}" class="btn add-batch btn-sm btn-primary" style="margin-bottom: 10px;">Add New</a>#}
        <a href="{% url 'products:tyre_create' %}" class="btn add-batch btn-sm btn-primary"
           style="margin-bottom: 10px;">Add New</a>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="box-body">
                    <div class="table-responsive">
                        <table id="tyre-design-list" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>
                                    S.N.
                                </th>

                                <th>
                                    Product Name
                                </th>

                                <th>
                                    Price
                                </th>

                                <th>
                                    PR
                                </th>

                                <th>
                                    Stock
                                </th>

                                {% if request.user|has_group:'customer' %}

                                    <th>Quantity</th>

                                {% endif %}

                                <th>
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in datas %}
                                <tr>
                                    <td></td>
                                    <td>{{ data.product_name }}</td>
                                    <td>{{ data.price }}</td>
                                    <td>{{ data.pr }}</td>
                                    <td>{{ data.stock }}</td>


                                    {% if request.user|has_group:'customer' %}
                                        <td>
                                            {% if not data in request.user.cart.items %}
                                                <form action="{% if data in cart_item %} {% url 'orders:remove_from_cart' %} {% else %} {% url 'orders:add_to_cart' %} {% endif %}"
                                                      method="post" class="cart-form">
                                                    {% if not data in cart_item %}
                                                        <input type="number" class="quantity" name="quantity" min="1"
                                                               style="width: 50px;" value="1">
                                                    {% else %}
                                                        <input type="number" disabled="disabled" class="disabled"
                                                               min="1"
                                                               style="width: 50px;" value="1">
                                                    {% endif %}
                                                    {% csrf_token %}
                                                    <input type="hidden" name="product_id" value="{{ data.id }}">
                                                </form>
                                            {% endif %}
                                        </td>
                                    {% endif %}

                                    <td>

                                        {% if request.user|has_group:'admin' or request.user.is_superuser %}
                                            <a href="{% url 'products:tyre_edit' data.slug %}"
                                               class="btn btn-xs btn-primary">Edit</a>
                                            <a href="{% url 'products:tyre_delete' data.slug %}"
                                               class="btn btn-xs btn-danger">Delete</a>
                                        {% else %}
                                            {% if data in cart_item %}
                                                <a href="javascript:void(0);"
                                                   class="btn btn-xs btn-danger remove-from-cart">Remove From Cart</a>
                                            {% else %}
                                                <a href="javascript:void(0);"
                                                   class="btn btn-xs btn-primary add-to-cart" id="{{ data.id }}">Add To
                                                    Cart</a>
                                            {% endif %}

                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block extra_stylesheets %}
    {#    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-dt/css/jquery.dataTables.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'bower_components/datatables.net-dt/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block extra_script %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net/js/dataTables.bootstrap.min.js' %}"></script>
    {#    <script src="{% static 'js/datatable_custom.js' %}"></script>#}
    <script>

        var t = $('#tyre-design-list').DataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "searchable": true,
        });

        t.on('order.dt search.dt', function () {
            t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        $('body').on('click', '.add-to-cart', function () {
            var atb_btn = $(this);
            atb_btn.closest('tr').find('.cart-form').submit();
        });

        $('body').on('click', '.remove-from-cart', function () {
            var atb_btn = $(this);
            atb_btn.closest('tr').find('.cart-form').submit();
        });

    </script>
{% endblock %}