{% extends 'base.html' %}

{% block page_name %}
    Tire Design
{% endblock %}

{% block page_description %}
    Create / Edit
{% endblock %}

{% block breadcrumbLink %}
    <li>
        <a href="{% url 'tire_design:list' %}" class="breadcrumb-item">Tire Design</a>

    </li>
    <li>
        <a href="#" class="breadcrumb-item active">Create</a>
    </li>
{% endblock %}


{% block body_content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <div class="panel-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group {% if form.tire_design.errors %} has-error {% endif %}">
                            <label class="control-label" for="exampleInputEmail1">Tire Design</label>
                            {{ form.tire_design }}
                            {% if form.tire_design.errors %}
                                <span id="helpBlock2" class="help-block">{{ form.tire_design.errors }}</span>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}